/* global colors */
:root {
    --original-debugger-color: #83adc5;
    /* Light Blue */
    --hybrid-debugger-color: #89c771;
    /* Light Green */
    --blockly-workspace-width: 100%;
    --blockly-workspace-height: 32vh;
    --blockly-code-height: 240px;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    padding-top: 80px;
}

h1 {
    font-weight: normal;
    font-size: 140%;
    display: inline;
}

h4 {
    display: inline;
}

.sticky {
    position: sticky;
    top: 0px;
    color: white;
    padding: 0px;
    z-index: 75;
}

#tools_bar {
    display: flex;
    background-color: var(--hybrid-debugger-color);
}

#action_bar h4,
#tools_bar h4 {
    align-self: center;
    margin: 0px 5px 0 0;
}

.hybrid-debugger-title {
    background-color: var(--hybrid-debugger-color);
}

.original-debugger-title {
    background-color: var(--original-debugger-color);
}

.blockly-workspace {
    height: var(--blockly-workspace-height);
    max-width: var(--blockly-workspace-width);
}

.CodeMirror {
    font-family: Consolas, monospace;
    border: 2px solid var(--hybrid-debugger-color);
    width: auto;
    /* height is preventing the CodeMirror scroll wheel */
    /* height: auto; */
    max-height: var(--blockly-code-height);
    font-size: 13px;
}

.original-debugger-button {
    background-color: var(--original-debugger-color);
}

.hybrid-debugger-background {
    background-color: var(--hybrid-debugger-color);
}

.hybrid-debugger-remove-workbench-btn {
    background-color: rgb(172, 8, 8);
    border: 2px solid var(--hybrid-debugger-color);
    display: flex;
    margin-right: auto;
    /* fit leftmost */
}

button {
    background-color: rgba(55, 55, 63, 0.986);
    /* Green #4CAF50*/
    /* background-color: rgba(126, 120, 128, 0.986); */
    border: none;
    color: white;
    padding: 10px 10px;
    margin: 0 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #E8E8E8;
}

button:disabled {
    cursor: default;
    pointer-events: all !important;
}

button:hover {
    background-color: rgba(218, 212, 219, 0.986);
    /*background-color: rgba(84, 84, 97, 0.986);*/
}

.watch-variables {
    background-color: #4CAF50;
    margin: 20px 20px;
    float: right;
    width: 100%;
    height: 135px;
}

.watch-watches {
    background-color: #4CAF50;
    margin: 20px 20px;
    float: right;
    width: 100%;
    height: 135px;
}

.watch-content {
    background-color: rgba(218, 212, 219, 0.986);
    border: 1px solid rgba(190, 181, 193, 0.986);
    font-size: 16px;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.title {
    background-color: rgba(126, 120, 128, 0.986);
    border: 1px solid rgba(126, 120, 128, 0.986);
    width: 100%;
    height: 25px;
    text-align: left;
    color: aliceblue;
    font-size: 18px;
}

#watches th,
#variables th,
#watches-headers th,
#variables-headers th,
#watches td,
#variables td,
#watches-headers td,
#variables-headers td {
    padding: 4px;
    text-align: left;
    width: 33%;
    border-bottom: 1px solid rgba(150, 144, 152, 0.986);
    color: rgba(63, 61, 63, 0.986);
}


#watches th,
#variables th,
#watches-headers th,
#variables-headers th {
    border-bottom: 1px solid rgba(126, 120, 128, 0.986);
    background-color: rgba(195, 192, 197, 0.986);
}

#watches table,
#variables table,
#watches-headers table,
#variables-headers table {
    padding: 0;
    border-collapse: collapse;
    width: 100%;
}

.statistics-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.statistics-table th,
.statistics-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.statistics-table tr:nth-child(even) {
    /* Add alternating row colors */
    background-color: #f2f2f2;
}

.statistics-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.breakpoint_enable {
    fill: red;
    stroke: yellow;
    stroke-width: 1px;
}


#menu {
    width: 120px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    display: none;
    background-color: rgba(218, 212, 219, 0.986);
}

.menu-options {
    list-style: none;
    padding: 10px 0;
}

.menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

.menu_option:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


/* The Modal (background) - START */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 80;
    /* Sit on top */
    padding-top: 3vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Modal Close Button */
.modal-close-button {
    color: rgb(83, 83, 83);
    font-size: 28px;
    font-weight: bold;
    float: right;
    line-height: 0.8;
    padding: 0 5px;
}

.modal-close-button:hover,
.modal-close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* The Modal (background) - END */

.highlightChosenLanguage {
    /* background-color: #fa2a2a; */
    font-weight: bold;
}

/* Snapshots - START */
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#savedButtonsContainer {
    margin-top: 20px;
    display: fl1;
    flex-wrap: wrap;
    /* Ensures buttons will wrap to the next line */
    gap: 5px;
    /* Adds some space between buttons */
}

.snapshot-button {
    background-color: var(--hybrid-debugger-color);
    position: relative;
    padding-right: 25px;
    /* Space for the delete icon */
}

.snapshot-button .delete {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: red;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
}

.snapshot-button .delete:hover {
    color: darkred;
}

#curr_program_XML,
curr_snapshot_XML {
    max-height: 50vh;
    overflow-y: auto;
}

.snapshot-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px;
    /* Adjust as needed */
    overflow-y: auto;
}

.snapshot-dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

.snapshot-dropdown-content button:hover {
    background-color: #ddd;
}
/* Snapshots - END */

#exportStatsCSV,
#ExportBreakpointsSubmit,
#CopyBreakpointsToClipboard,
#saveSnapshotButton,
#LoadSnapshotButton,
#remoteExecuteBtn {
    float: right;
    line-height: 0.9;
    margin-top: 5px;
    margin-bottom: 10px;
}

.popupText {
    display: none;
    z-index: 100
}

.code-step-highlight {
    background-color: yellow;
}

.highlight-line {
    background-color: lightgrey;
}

.breakpoint-marker {
    font-size: 18px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    text-align: center;
}

.breakpoint-marker.enabled {
    color: red;
    text-shadow: 0 0 1px yellow, 0 0 1px yellow, 0 0 1px yellow, 0 0 1px yellow;
}

.breakpoint-marker.disabled {
    color: grey;
}

.breakpoint-marker.hit {
    color: yellow;
    text-shadow: 0 0 8px red, 0 0 8px red, 0 0 8px red, 0 0 8px red;
}

/* Debug Session Border - START*/
.debug-session-border {
    border: 4px dotted var(--hybrid-debugger-color);
}

.debug-session-legend-text {
    margin: auto;
    /* Center legend */
    color: var(--hybrid-debugger-color);
}

.hide-legend-border .debug-session-legend-text {
    display: none;
}

.hide-legend-border fieldset {
    border: none !important;
}
/* Debug Session Border - END*/

#accordion {
    .card {
        border: none;
        margin-bottom: 5px;

        .card-header {
            padding: 12px;
            background-color: var(--hybrid-debugger-color);

            .btn-link {
                color: rgb(255, 255, 255);
                font-size: 18px;
            }
        }

        .card-body {
            background-color: #f8f9fa;
            max-height: 400px;
            overflow-y: auto;
        }

        &:nth-child(1) .card-header {
            background-color: var(--original-debugger-color);
            filter: brightness(120%);
        }

        &:nth-child(2) .card-header {
            filter: brightness(115%);
        }

        &:nth-child(3) .card-header {
            filter: brightness(110%);
        }

        &:nth-child(4) .card-header {
            filter: brightness(105%);
        }

        &:nth-child(4) .card-header {
            filter: brightness(100%);
        }
    }
}

/* Multi-language execution checkboxes - START */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.JavaScriptExecution:checked + .slider {
    background-color: #444;
}
input.PythonExecution:checked + .slider {
    background-color: #2196F3;
}
input.PHPExecution:checked + .slider {
    background-color: #8bc34a;
}
input.LuaExecution:checked + .slider {
    background-color: #3de0f5;
}
input.DartExecution:checked + .slider {
    background-color: #FFC107;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* Multi-language execution checkboxes - END */